<div class="small-12 marbot-2 padall-1 callout alert {{if hasNoError 'hide'}} {{if userExists 'show' 'hide'}}">User Exists</div>

{{#validatable-form onSubmit=(action 'signup') as |form|}}
  {{#form-control as |error|}}
    {{input class="marbot-1" value=firstName placeholder="First Name" autofocus="true" required="true"}}
    {{#if error}}<p>{{error}}</p>{{/if}}
  {{/form-control}}

  {{#form-control as |error|}}
    {{input class="marbot-1" value=lastName placeholder="Last Name" required="true"}}
    {{#if error}}<p>{{error}}</p>{{/if}}
  {{/form-control}}

  {{#form-control as |error|}}
    {{input class="marbot-1" value=email placeholder="Email" required="true" title="Require Valid Email"}}
    {{#if error}}<p>{{error}}</p>{{/if}}
  {{/form-control}}

  {{#form-control as |error|}}
    {{input class="marbot-1" value=password placeholder="Password" type="password" pattern=".{6,}" required="true" title="Require 6 Characters"}}
    {{#if error}}<p>{{error}}</p>{{/if}}
  {{/form-control}}

  <div class="small-12">
    <input class="small-12 medium-8 large-pull-8 float-right button expanded primary" {{action 'submit' target=form}} value="Signup!">
    <div class="small-12 medium-4 large-push-4">
      {{#link-to 'login' class="small-12 medium-11 button expanded primary hollow"}}Login{{/link-to}}
    </div>
  </div>

{{/validatable-form}}
